.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  z-index: 1000;
 
}

.nav-item {
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  color: rgb(12, 91, 182);
}

.nav-item span {
  display: block;
  font-size: 12px;
}

/* Submenu lateral */
.submenu {

  position: fixed;
  left: 0;
  top: 0;
  width: 158px;
  height: 93%;
  background: #00a896;
  color: white;
  padding: 20px;
  z-index: 1101;
  animation: slideIn 0.4s ease;
   box-shadow: 2px 0 8px rgba(0,0,0,0.3);


}

.submenu h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu li {
  margin: 12px 0;
}

.submenu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.submenu a:hover {
  text-decoration: underline;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1100;
}

@keyframes slideIn {
  from { left: -250px; }
  to { left: 0; }
}

@media (max-width: 768px) {
  .nav-item {
    font-size: 18px;
  }
  .nav-item span {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .nav-item {
    font-size: 16px;
  }
  .nav-item span {
    font-size: 10px;
  }
  .submenu {
    width: 180px;
  }
}

