.back-button {
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #089670;
}
.back-button:hover {
  color: #fff; 
  
}