* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  display: flex;
  justify-content: center;
  background-color:rgba(134, 131, 124, 0.486);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

  .containerPrincipal {
    display: flex;
    justify-content: space-around; /* espaço igual entre colunas */
    align-items: flex-start; /* alinhar ao topo */
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap; /* caso a tela seja pequena, quebra a linha */
  }
  
  .colunas > div {
    background-color: #ffffff88;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    min-width: 250px;
  }
  
  

.App{
display: flex;  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

